.filters {
    max-width: 360px;
    min-width: 220px;
    width: 100%;

    margin-right: 10px;
    &-price {
        &-slider {
            width: 100%;
            height: 4px;
            box-sizing: border-box;

            position: relative;

            background: $accent;
            border-radius: 2px;
            pointer-events: none;
            &-values {
                display: flex;
                
                align-items: center;
                justify-content: space-between;

                margin: 0 -15px 6px 0px;
                .min-value, .max-value {
                    color: $accent;
                }
            }
            &-progress {
                height: 4px;
                
                position: absolute;

                left: 0;
                right: 0;

                background: $primary;
                pointer-events: none;
                .current-values {
                    display: flex;

                    justify-content: space-between;

                    margin-top: 10px;
                    .min-value, .max-value {
                        color: $accent;
                    }
                }
            }
            &-container {
                margin-top: 10px;
                padding: 0 20px;   
            }
        }
        &-inputs {
            width: 100%;
            height: 4px;

            position: relative;
            
            pointer-events: none;           
            input {
                width: 100%;
                height: 4px;
                
                position: absolute;
                top: -4px;
                
                background: none;
                appearance: none;
                pointer-events: none;

                cursor: pointer;
                &::-webkit-slider-thumb {
                    width: 16px;
                    height: 16px;

                    border-radius: 50%;
                    background: $primary;
                    appearance: none;
                    border: none;
                    pointer-events: all;
                }
                &::-moz-range-thumb {
                    width: 16px;
                    height: 16px;
    
                    border-radius: 50%;
                    background: $primary;
                    appearance: none;
                    border: none;
                    pointer-events: auto;

                }
            }
        }
    }
    @include media($s-breakpoint) {
        width: 40%;
        height: 100svh;
        overflow: scroll;
        
        padding: 20px;
        
        background: $secondary;
        &-container {
            display: none;
            width: 100vw;
            min-height: 100vh;
            overflow: hidden;
            
            top: 0;
            left: 0;
            position: fixed;

            background: rgba(#000000, .3);

            z-index: 150;
            &.active {
                display: block;
            }
        }
    }
}

.category {
    display: flex;

    align-items: center;

    margin-bottom: 3px;
    padding-left: 20px;

    &-checkbox {
        width: 25px;
        height: 25px;
        
        border: 2px solid $accent;
        border-radius: 5px;
        
        appearance: none;
        outline: none;
        cursor: pointer;

        background: transparent;
        transition: background .2s ease;
        &:checked {
            background: $accent;
            background-image: url("../../../../public/checkmark.png");
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &-label {
        width: 100%;
        
        padding-left: 10px;

        color: $accent;
        text-transform: capitalize;
        cursor: pointer;
    }
    color: $accent;
    &-group {
        display: flex;

        margin-bottom: 10px;

        flex-direction: column;
        &.active {
            margin-bottom: 30px;
        }
        &-title {
            display: flex;
            width: 100%;
            height: 70px;
            box-sizing: border-box;
            
            position: relative;
            align-items: center;
            justify-content: space-between;

            padding-right: 20px;
            margin: 0;

            border-radius: 20px;
            background: $primary;
            &.active {
                margin-bottom: 10px;
            }
            &-text {
                display: block;

                padding-left: 20px;
    
                color: $accent;
            }
            .cross {
                display: flex;
                width: 20px;
                height: 20px;
                
                align-items: center;
                justify-content: center;
                position: relative;
        
                padding: 20px;
        
                cursor: pointer;
                transition: opacity .3s ease;
                &:hover {
                    opacity: .8;
                    transition: opacity .3s ease;
                }
                &::before, &::after {
                    content: "";
                    width: 20px;
                    height: 2px;
        
                    position: absolute;
        
                    background: $accent;
                }
                &.active {
                    &::before {
                        transform: rotateZ(0);
                    }
                }
                &::before {
                    transform: rotateZ(90deg);
                }
            }
        }
    }
}