.feedback {
    position: relative;
    padding-left: 70px;
    &-title {
        margin-bottom: 20px;
    }
    &::before {
        content: "";
        width: 2px;
        height: 100%;
        display: block;

        position: absolute;
        left: 0;
        top: -10px;


        background: $primary;
    }
    &-form {
        display: flex;

        flex-direction: column;

        &-input, &-textarea {
            width: 350px;
            height: 50px;
            
            padding: 0 20px;
            box-sizing: border-box;
            margin-bottom: 10px;
            
            border: 2px solid $primary;
            border-radius: 25px;
            color: $accent;
            
            &::placeholder {
                color: $accent;
                opacity: .7;
            }
        }
        &-textarea {
            width: 450px;
            height: 200px;

            padding-top: 10px;

            resize: none;
            text-align: justify;
        }
        &-button {
            width: 250px;
            height: 50px;

            margin-top: 10px;

            border-radius: 25px;
            border: none;
            appearance: none;   
            outline: none;

            background: $accent;
            color: $secondary;

            text-align: center;
            cursor: pointer;
            transition: background .4s ease;
            &:hover, &:focus {
                background: $primary;
                transition: background .4s ease;
            }
        }
    }
    @include media($l-breakpoint) {
        padding-left: 20px;
    }
    @include media($m-breakpoint) {
        padding: 0;
        &::before {
            display: none;
        }
        &-form {
            &-input {
                width: 100%;
            }   
        }
    }
    @include media($s-breakpoint) {
        &-form {
            max-width: 490px;
            width: 100%;
            display: block;
            &-input {
                width: 100%;
            }
            &-textarea {
                width: 100%;
            }
        }
    }
}