.products {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    
    margin: 0 -10px;
    .product-card {
        margin: 0 10px 30px 10px;
        flex: 1 1 220px;
        width: calc(100% / 4);
    }
    &.catalog {
        margin: 0 -25px 0 0;
        .product-card {
            width: calc(100% / 3);
            margin: 40px 25px;
        }
    }
    &.new-arrivals {
        .product-card {
            margin: 30px;
            flex: 1 1 260px;
        }
    }
    @include media($m-breakpoint) {
        &.catalog {
            margin: 0 -15px 0 0;
            .product-card {
                margin: 40px 15px;
            }
        }
    }
    @include media($xs-breakpoint) {
        &.catalog {
            margin: 0;
            .product-card {
                margin: 35px 0px;
            }
        }
        &.new-arrivals {
            .product-card {
                margin: 25px 0;
            }
        }
    }
}