.products {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    
    margin: 0 -10px;
    li {
        margin: 0 10px 30px 10px;
        flex: 1 1 280px;
        width: calc(100% / 4);
    }
    &.catalog {
        margin: 0 -5px 0 0;
        li {
            width: calc(100% / 3);
            margin: 15px 5px;
        }
    }
}