.auth-form {
    display: flex;

    flex-direction: column;
    align-items: center;

    &-container {
        display: flex;
    
        flex-direction: column;
        align-items: center;

        margin: 0 auto;
        padding: 0 25px;

        span {
            margin: 10px 0;
            color: $accent;
        }
    }
    &-title {
        color: $accent;
    }

    &-button {
        width: 250px;
        height: 50px;

        margin-top: 40px;

        border-radius: 25px;

        background: $primary;
        color: $secondary;

        appearance: none;
        border: none;
        outline: none;
    }
}