.payment-template {
    display: flex;
    height: 100svh;

    padding: 0 10px;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-status {
        font-size: 100px;
        font-weight: 900;
        color: $accent;
    }
    .h1 {
        margin-bottom: 55px;
        
        color: $primary;

        text-align: center;
        a {
            color: $accent;
            text-decoration: underline;
        }
    }
    @include media($s-breakpoint) {
        &-status {
            font-size: 75px;
            margin-bottom: 25px;
        }
        .h1 {
            font-size: 26px;
            line-height: 33px;
        }
    }
    @include media($xs-breakpoint) {
        &-status {
            font-size: 55px;
        }
    }
}