.new-arrivals {
    margin-top: 70px;
    &-title {
        margin-bottom: 20px;
    }
    &-pretty-button-container {
        display: flex;

        justify-content: center;

        margin-top: 30px;
    }
    
}