.contacts {
    &-title {
        margin-bottom: 20px;
    }
    &-item {
        display: flex;

        flex-direction: column; 

        margin-bottom: 20px;

        img, &-text {
            margin-left: 10px;
        }

        &-line {
            max-width: 493px;
            width: 100%;
            height: 2px;
         
            margin: 10px 0 5px 0;

            background: $accent;
        }
    }
}