.product-images {
    max-width: 790px;

    margin: 50px 30px 0 0;
    &-preview {
        width: 100%;

        height: auto;
        object-fit: cover;
    }
    &-thumbnails {
        display: flex;
        max-width: 790px;
        width: 100%;

        flex-wrap: wrap;
        img {
            width: calc(100% / 3);
            height: auto;
            flex-basis: 1 1 180px;

            object-fit: contain;
            cursor: pointer;
        }
    }
    @include media($m-breakpoint) {
        margin: 50px 0 0 0;
    }
}
