.header {
    display: flex;
    align-items: center;
    
    position: relative;

    margin-top: 30px;
    &-logo {
        line-height: 0;

        &-img {
            &.mobile {
                display: none;
            }
        }
    }
    &-nav {
        width: 100%;
        display: flex;

        justify-content: space-between;
        align-items: center;
        &-list {
            display: flex;

            margin-left: 30px;
        }
        &-item {
            margin: 0 20px;

            .links {
                transition: color .7s ease; 
                &:hover {
                    color: $accent;
    
                    transition: color .3s ease; 
                }
            }
        }
        .separate-links {
            display: flex;
    
            .auth-button {
                display: flex;
                width: 120px;
                height: 50px;
                box-sizing: border-box;
    
                align-items: center;
                justify-content: center;
    
    
                margin-left: 20px;
                
                border-radius: 25px;
                &.sign-up-btn {
                    background: $accent;
                    color: $secondary;
                    transition: background .6s ease;
                    &:hover {
                        background: $primary;
                        transition: background .5s ease;
                    }
                }
                &.sign-in-btn {
                    z-index: 0;
                    border: 2px solid $primary;
                    background: transparent;
                    color: $primary;
                    transition: all .5s ease;
                    &:hover {
                        background: $primary;
                        color: $secondary;
                        transition: all color .3s ease;
                    }
                }
            }
            .authenticated-link {
                display: flex;
                width: 75px;
                height: 50px;

                position: relative;
                align-items: center;
                justify-content: center;

                margin-left: 20px;

                border-radius: 40px;
                background: $accent;
                .cart-items-counter {
                    display: flex;
                    width: 25px;
                    height: 25px;

                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    top: -5px;
                    right: -7px;

                    background: $primary;
                    color: $secondary;
                    border-radius: 50%;

                    line-height: 25px;
                }
                transition: background .3s ease;
                &:hover {
                    background: lighten($accent, 5);
                    transition: background .3s ease;
                }
            }
        }
    }
    &-hamburger {
        display: none;
        width: 30px;
        height: 15px;
        
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        background: $accent;
        border-radius: 40px;
        z-index: 101;

        padding: 15px;

        &-element {
            width: 30%;
            height: 2px;
            display: block;

            padding: 0 5px;

            background: $secondary;
            &:nth-child(1) {
                transform: translateY(0) rotate(0);
                transition: transform .5s ease;
                
            }
            &:nth-child(2) {
                opacity: 1;
                transition: opacity .2s ease;
            }
            &:nth-child(3) {
                transform: translateY(0) rotate(0);
                transition: transform .5s ease;
            }
        }

        &.active {
            span {
                &:nth-child(1) {
                    transform-origin: center;
                    transform: translateY(6.5px) rotate(-45deg);
                    transition: transform .5s ease;
                }
                &:nth-child(2) {
                    opacity: 0;
                    transition: opacity .2s ease;
                }
                &:nth-child(3) {
                    transform-origin: center;
                    transform: translateY(-6.5px) rotate(45deg);
                    transition: transform .5s ease;
                }
            }
        }
        
    }
    @include media($l-breakpoint) {
        &-nav {
            &-list {
                margin: 0 0 0 10px;
            }
            &-item {
                margin: 0 10px;
            }
        }
    }
    .separate-links {
        .auth-button {
            width: 90px;

        }
    }
    @include media($m-breakpoint) {
        flex-direction: row-reverse;
        justify-content: space-between;

        position: sticky;
        top: 0;
        z-index: 100;

        margin: 0 -15px;
        padding: 10px;

        background: $secondary;
        &-hamburger {
            display: flex;
        }
        &-nav {
            align-items: flex-start;
            flex-direction: column-reverse;
            position: fixed;
            left: 0;
            top: -100%;

            padding: 20px;
            background: $secondary;
            z-index: 100;
            
            transition: top .4s ease-in;
            &.active {
                top: 0;
                transition: top .3s linear;
            }
            &-list {
                flex-direction: column;
                margin: 0;
            }
            &-item {
                margin: 5px 0;
            }
            .separate-links {
                margin-bottom: 10px;
                .auth-button {
                    margin: 0 10px 0 0;
                }
            }
        }
    }
    @include media($xs-breakpoint) {
        &-logo {
            &-img {
                display: none;
                &.mobile {
                    display: block;
                }
            }
        }
        
    }
}